<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
	
<meta charset="ISO-8859-1"></meta>

<title>Consult Details</title>
    <!--<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->
</head>
<body>

<body>
<div align="left">
	
    <h2>Patient Added</h2>
    <p th:text="'Patient Id: ' + ${patient.patientId}" />
    <p th:text="'Patient Number: ' + ${patient.patientNumber}" />
    <p th:text="'Patient Name: ' + ${patient.patientName}" />
    <p th:text="'Medical Aid Number: ' + ${patient.medicalAidNumber}" />
    <p th:text="'Medical Aid: ' + ${patient.medicalAid}" />
    <br>

    <h2>Consult Details</h2>

    <tr>
	    
     <form action="#" th:action="@{'/save_consult/' + ${patient.patientId}}" method="post" th:object="${consult}"> 
       <p>Consult Date: <input type="text" th:field="${consult.consultDate}" /></p>
       <p>Reservation Number : <input type="text" th:field="*{reservationNumber}" /></p>
     </tr>
      <tr><input type="submit" value="Consult Details" /> <input type="reset" value="Reset" /></tr>
     </form>
    
        <br>    
        <a href="/new_patient">Add New Patient</a> <br>
        <a href="/patients">Patients</a>
</div>
</body>
</html>